#reportTimePanel {
  position: fixed;
  top: 32px;
  left: 0px;
  display: grid;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
  gap: 10px 10px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  grid-auto-flow: row;
}

input {
  width: 100%;
  background-color: #333333;
  border-right: none;
  border-bottom: yellowgreen 1px solid;
  color: #dddddd;
}

input::placeholder {
  color: #dddddd;
  font-style: italic;
}

input.optionTitle {
  color: yellowgreen;
}

.grid4x3 {
  min-height: 605px;
  max-height: 605px;
  min-width: 1190px;
  max-width: 1190px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.grid3x3 {
  min-height: 605px;
  max-height: 605px;
  min-width: 895px;
  max-width: 895px;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.grid3x2 {
  min-height: 400px;
  max-height: 400px;
  min-width: 895px;
  max-width: 895px;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.grid2x2 {
  min-height: 400px;
  max-height: 400px;
  min-width: 600px;
  max-width: 600px;
  grid-template: 1fr 1fr / 1fr 1fr;
}

form {
  display: block;
  padding: 0px 0px;
  margin: 0px 0px;
}

.reportOption {
  position: relative;
  background-color: #222222;
  border: 2px solid #333333;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
  transition-duration: 200ms;
}

.reportOption:hover {
  background-color: #333333;
  border-color: #444444;
  transform: scale(1.05);
  z-index: 2;
}

.reportOption > .optionBadge {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  text-align: right;
  overflow: hidden;
}

.optionBadge > span {
  background-color: yellowgreen;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  top: 26px;
  right: -36px;
  width: 150px;
  outline: 2px solid #446622;
  color: #222222;
  box-sizing: border-box;
  z-index: 1;
}

.reportContainer {
  display: flex;
  height: 185px;
  margin: 0px 0px 0px 0px;
  box-sizing: border-box;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  row-gap: 0px;
}

.reportContainer > * {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.reportContainer > .optionTitle {
  align-self: stretch;
  font-size: x-large;
  color: greenyellow;
  transition-duration: 200ms;
}

*:hover > .optionTitle {
  color: white;
}

.reportContainer > .optionFooter {
  display: flex;
  flex-flow: row wrap;
  row-gap: 5px;
  column-gap: 5px;
  justify-content: flex-start;
}

.reportContainer > .optionFooter > * {
  background-color: greenyellow;
  color: #111111;
  padding: 4px;
  border-radius: 6px;
}

.reportContainer > .optionFooter > *::placeholder {
  color: #111111;
  font-style: italic;
}

.optionFooter > .saveNewTask {
  width: auto;
  margin-left: auto;
  border: none;
  color: yellowgreen;
  background-color: #444444;
  cursor: pointer;
  transition-duration: 200ms;
}

.saveNewTask:hover {
  background-color: #222222;
  transform: scale(1.2);
}

.optionFooter > .addSubTask {
  color: yellowgreen;
  font-weight: 900;
  margin-left: auto;
  padding: 0 0 0 0;
  background-color: inherit;
  transition-duration: 200ms;
}

.addSubTask:hover {
  transform: scale(3);
  color: white;
}

#returnToMain {
  font-size: 140px;
  font-weight: 900;
  color: greenyellow;
  position: absolute;
  top: -170px;
  left: 70px;
  transition-duration: 200ms;
}

#returnToMain:hover {
  color: white;
}
